.example-container {
  width: 100%;
  height: 100%;
  //margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-drawer {
  width: 250px;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#navbar-high {
  visibility: visible;
}
#navbar-small {
  visibility: hidden;
}
.sidenav-container {
  height: 100%;
}
mat-sidenav{
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #eeeeee;
  color: #555555 !important;
}

.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  margin-top: 25px;
  flex: 1 1 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
}
.toolbar{
  background-color: white !important;
  color: black !important;
}
a {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(54, 54, 54) !important;
  mat-icon {
    color: gray !important;
  }
}
mat-nav-list {
  padding-left: 15px !important;
  padding-right: 15px !important;
  a {
    font-size: 15px;
  }
}
.active {
  background-color: var(--primario) !important;
  color: black !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 15px rgba(189,189,189,1);
  -moz-box-shadow: 0 3px 15px rgba(189,189,189,1);
  box-shadow: 0 3px 15px rgba(189,189,189,1);
  transition: 1s;
  mat-icon {
    //color: white !important;
  }
}

@media screen and (max-width: 768px) {
  #navbar-high {
    visibility: hidden;
  }
  #navbar-small {
    visibility: visible;
  }
}
