<div class="mat-elevation-z8 table">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="humedad" matSortDisableClear matSortDirection="desc">

  <tbody>

    <div matColumnDef="no">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Nº </th>
      <td  mat-cell *matCellDef="let row; let i = index"> <div class="referencia">{{ i + 1 }}</div> </td>
    </div>

    <div matColumnDef="humedad">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Humedad </th>
      <td  mat-cell *matCellDef="let row"> <div class="referencia">{{row.humedad}}</div> </td>
    </div>

    <div matColumnDef="temperatura">
      <th id="descripcion-th" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
      <td mat-cell *matCellDef="let row"> <div class="descripcion">{{row.temperatura}}</div> </td>
    </div>

    <div matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let row"> <div class="monto">{{row.date}}</div> </td>
    </div>

    <div matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row"> <div class="monto">{{row.estado}}</div> </td>
    </div>

    <div matColumnDef="automatico">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Automatico </th>
      <td  mat-cell *matCellDef="let row"> {{row.automatico}} </td>
    </div>

    <!--<div matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
      <td mat-cell *matCellDef="let row">
        <div class="status">
          <div [ngClass]="row.username == 'Enviado' ? 'status-enviado' : row.username == 'Aplicado' ? 'status-aplicado' : row.username == 'Rechazado' ? 'status-rechazado' : 'status-enviado'">
            <span>{{row.estatus}}</span>
          </div>
        </div>
      </td>
    </div>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr class="data-rows" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </tbody>

</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>
</div>

