<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="fecha" matSortDisableClear matSortDirection="desc">

  <tbody>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> ID </th>
      <td mat-cell *matCellDef="let row"> <div class="fecha">{{row.fecha}}</div> </td>
    </ng-container>

    <div matColumnDef="referencia">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Username </th>
      <td  mat-cell *matCellDef="let row"> <div class="referencia">{{row.referencia}}</div> </td>
    </div>

    <div matColumnDef="descripcion">
      <th id="descripcion-th" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> <div class="descripcion">{{row.descripcion}}</div> </td>
    </div>

    <div matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> <div class="monto">{{row.monto}}</div> </td>
    </div>

    <div matColumnDef="moneda">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td  mat-cell *matCellDef="let row"> {{row.moneda}} </td>
    </div>

    <div matColumnDef="balance">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td  mat-cell *matCellDef="let row"> {{row.balance}} </td>
    </div>

    <div matColumnDef="currency">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
      <td  mat-cell *matCellDef="let row"> {{row.currency}} </td>
    </div>

    <div matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
      <td mat-cell *matCellDef="let row">
        <div class="status">
          <div [ngClass]="row.username == 'Enviado' ? 'status-enviado' : row.username == 'Aplicado' ? 'status-aplicado' : row.username == 'Rechazado' ? 'status-rechazado' : 'status-enviado'">
            <span>{{row.estatus}}</span>
          </div>
        </div>
      </td>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr class="data-rows" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </tbody>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>
</div>

